body {
  margin: 0;
 padding: 0;
 padding: 0 5px;
}

.header {
  width: 100%;
  background-color: aquamarine;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Flex {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-weight: 600;
}

.About img{
  padding: 20px;
  width: 20%;
}
.head {
  width: 100%;
  background-color: aquamarine;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

Footer{
  background-color:aquamarine;
}